{% extends 'courses/base.html' %}

{% block body%}
<div align="center">
	<h3 > REVIEWS </h3>
	<form method = 'post' action = "{% url 'add_reviews' %}" >
		{% csrf_token %}
		<input style="width:30%" type="text" name="ccode" placeholder="Course Code">
		<input style="width:30%"  type = "text" name = "professor" placeholder="Professor">
		<input style="width:30%" type="text" name="offered_year" placeholder="Year">
		<input style="width:30%" type="text" name="semester" placeholder="semester">
		<br><br>

		<textarea style="font-size:15px;" rows="10" cols="5" name="review" placeholder="Give your review here"></textarea>
		<br><br>

		<button align="center" type="submit">ADD REVIEW</button>

	</form>	
</div>

{% endblock %}